# Default configuration file for the Euro Truck Log mod
# Supported languages: EN, NL
# Readme: https://github.com/creulcat/EDH/blob/main/README.md

language = "EN"
discord.webhook = "https://discord.com/api/webhooks/1234567890/abcdefghijklmnopqrstuvwxyz"
discord.embed.color = "000000"
discord.embed.playername = "Player"